<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Manage Expert</title>
</head>
<body style="padding: 100px 0; background: #ecf0f4; width: 100%; height: 100%; font-size: 18px; line-height: 1.5; font-family: 'Roboto', sans-serif; color: #222;">
    <section>
        <div class="container" style="max-width: 1230px; width: 100%;">
            <header class="header" style="margin-bottom: 80px;">
                <h1 id="title" class="text-center" style="font-weight: 700; font-size: 45px; font-family: 'Roboto', sans-serif;">Manage Expert</h1>
            </header>
            <div class="form-wrap" style="background: rgba(255,255,255,1); width: 100%; max-width: 850px; padding: 50px; margin: 0 auto; margin-top: 20px; position: relative; border-radius: 10px; box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);">
                <form id="user-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" style="display: block; font-size: 18px; color: #000;">Name</label>
                                <input type="text" name="name" id="name" placeholder="Enter your Full Name" class="form-control" required style="height: 50px; background: #ecf0f4; border-color: transparent; padding: 0 15px; font-size: 16px; transition: all 0.3s ease-in-out;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userId" style="display: block; font-size: 18px; color: #000;">Email</label>
                                <input type="text" name="userId" class="form-control" id="userId" placeholder="User Id" required style="height: 50px; background: #ecf0f4; border-color: transparent; padding: 0 15px; font-size: 16px; transition: all 0.3s ease-in-out;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-size: 18px;">Gender</label>
                                <select id="gender" name="gender" class="form-control" required style="height: 50px; background: #ecf0f4; border-color: transparent; padding: 0 15px; font-size: 16px; transition: all 0.3s ease-in-out;">
                                    <option disabled selected value>Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                               </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contactNo" style="display: block; font-size: 18px; color: #000;">Contact No</label>
                                <input type="text" name="contactNo" id="contactNo" placeholder="Contact No" class="form-control" required pattern="[0-9]{10}" style="height: 50px; background: #ecf0f4; border-color: transparent; padding: 0 15px; font-size: 16px; transition: all 0.3s ease-in-out;">
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="groupId" style="display: block; font-size: 18px; color: #000;">Technology</label>
                                <input type="text" name="groupMaster" id="groupMaster" placeholder="Enter your Group Id" class="form-control" required style="height: 50px; background: #ecf0f4; border-color: transparent; padding: 0 15px; font-size: 16px; transition: all 0.3s ease-in-out;">
                           
                                <!-- <label style="font-size: 18px;">Status</label>
                                <select id="dropdown" name="status" class="form-control" required style="height: 50px; background: #ecf0f4; border-color: transparent; padding: 0 15px; font-size: 16px; transition: all 0.3s ease-in-out;">
                                    <option disabled selected value>Select</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" id="submit" class="btn btn-primary btn-block" style="padding: .657rem .75rem; font-size: 18px; letter-spacing: 0.050em; transition: all 0.3s ease-in-out; background-color: #00bcd9; border-color: #00bcd9; color: #fff;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script>
        // Define the form submit event handler
        $("#user-form").submit(function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Serialize the form data into a JSON object
            var formData = {
                name: $("#name").val(),
                userId: $("#userId").val(), // Update this field to set the userId
                contactNo: $("#contactNo").val(),
                email: $("#userId").val(),
                groupMaster: $("#groupMaster").val(), 
                gender: $("#gender").val(),
            };
            console.log(formData);


            // Send a POST request to your API
            $.ajax({
                type: "POST",
                url: "http://localhost:8081/user-masters/create", // Update the endpoint URL
                data: JSON.stringify(formData),
                contentType: "application/json",
                success: function (data) {
                    // Handle the success response here (e.g., show a success message)
                    Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Manage Expert data submitted successfully',
                });

                $("#user-form")[0].reset();
                
                },
                error: function (error) {
                    // Handle any errors here (e.g., show an error message)
                    Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error submitting Manage Expert data : ' + error,
                });

                }
            });
        });
    </script>
</body>
</html>
